# Docker image tag
IMAGE_NAME=nix-flake:latest

# Container user
DEV_USER=dev

# Nix installer URL
NIX_INSTALL_URL=https://mirrors.tuna.tsinghua.edu.cn/nix/latest/install

# Nixpkgs channel URL
NIX_CHANNEL_URL=https://mirrors.tuna.tsinghua.edu.cn/nix-channels/nixpkgs-unstable

# Nix binary cache substituters (space-separated)
NIX_CACHE_SUBSTITUTERS="https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store https://cache.nixos.org"

# Workspace mount path
# You have to change this for your own.
WORKSPACE_DIR=/home/yourname/Codes/sandbox/workspace

# Host directory for persisting Nix Store
NIX_DIR_HOST=.nix

# Nix Store mount path
NIX_DIR=/nix

# Port on both container and host.
PORT=3000

# Auto-detected from host if it is not set
# DEV_UID=1000

