# Docker image tag
IMAGE_NAME=nix-flake:latest

# Docker volume name (for persisting Nix Store)
NIX_STORE_VOLUME=nix-store

# Container user
DEV_USER=dev

# Nix Store mount path
NIX_STORE_DIR=/nix

# Nix installer URL
NIX_INSTALL_URL=https://mirrors.tuna.tsinghua.edu.cn/nix/latest/install

# Nixpkgs channel URL
NIX_CHANNEL_URL=https://mirrors.tuna.tsinghua.edu.cn/nix-channels/nixpkgs-unstable

# Nix binary cache substituters (space-separated)
NIX_CACHE_SUBSTITUTERS="https://mirrors.tuna.tsinghua.edu.cn/nix-channels/store https://cache.nixos.org"

# Workspace mount path
WORKSPACE_DIR=workspace
